.lend.page,
.loan.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .lendnav_mobile {
    display: none;
  }

  h1 {
    margin-bottom: 12px;
  }

  .content {
    display: grid;
    grid-template-columns: auto 1fr;

    div.form {
      min-width: 280px;
      width: 325px;
      padding: 0 16px;
      padding-bottom: 0px;
      margin-left: 12px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border-left: 1px solid #f0f0f0;
      color: #849095;
      font-size: 14px;

      > .items {
        margin-bottom: 24px;
        > .item {
          margin-bottom: 15px;
          display: flex;
          justify-content: space-between;

          span:last-child {
            font-weight: 600;
          }

          > div {
            width: 100%;
          }
        }
      }

      @media only screen and (max-width: 600px) {
        padding: 0;
        border: none;
        margin-top: 16px;
      }
    }

    @media only screen and (max-width: 600px) {
      display: flex;
      flex-direction: column;
    }
  }

  @media screen and (max-width: 600px) {
    justify-content: stretch;

    h1.legend {
      display: none;
    }

    .lendnav_mobile {
      display: flex;
      box-sizing: border-box;
      margin: 0 8px;
      margin-bottom: 12px;
    }
  }

  .rdrDateDisplayWrapper {
    display: none;
  }
}
