@import "../theme.scss";

header {
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
  grid-template-columns: auto 1fr;

  .header-right-container {
    display: flex;
    justify-content: space-between;
  }

  .links {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: PTMono-Bold, "PT Mono";
    margin-right: 20px;

    > a {
      margin-left: 16px;
      color: white;
      .faucet {
        text-decoration: underline;
      }
    }

    &.grey {
      color: $text-color;

      >a {
        margin-left: 16px;
        color: $text-color;
      }

      .faucet {
        text-decoration: underline;
      }
    }


    @media only screen and (max-width: 600px) {
      display: none;
    }
  }
}